// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.
  
// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.
  
.ast-container {
  max-width: 100%;
}

.ast-container-fluid, .ast-container {
  margin-left: auto;
  margin-right: auto;
  padding-left:  ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
}
  
  
// Row
//
// Rows contain and clear the floats of your columns.
  
@if $enable-grid-classes {
    .ast-row {
      margin-left:  ( $grid-gutter-width / -2);
      margin-right: ( $grid-gutter-width / -2);
    }
}

.ast-float{
  float: left;
}

.ast-grid-common-col {
  position: relative;
  min-height: 1px;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
}
