.customize-control-ast-customizer-link .customizer-link {
  font-style: italic;
  text-decoration: none;
}

.customize-control-ast-customizer-link:empty {
  display:none;
}

.ast-notice-text-wrapper {
    color: #50575e;
    line-height: 1.5;
}
